// mpm_version fpga_current_version 8.2.0
// mpm_version fpga_oldest_compatible_version 8.2.0
// mpm_version fpga_version_last_modified_time 0x23102410
// mpm_version cpld_ifc_current_version 2.0.0
// mpm_version cpld_ifc_oldest_compatible_version 2.0.0
// mpm_version cpld_ifc_version_last_modified_time 0x21011809
// mpm_version db_gpio_ifc_current_version 1.0.0
// mpm_version db_gpio_ifc_oldest_compatible_version 1.0.0
// mpm_version db_gpio_ifc_version_last_modified_time 0x20110616
// mpm_version rf_core_100m_current_version 1.0.0
// mpm_version rf_core_100m_oldest_compatible_version 1.0.0
// mpm_version rf_core_100m_version_last_modified_time 0x20102617
// mpm_version rf_core_400m_current_version 1.0.0
// mpm_version rf_core_400m_oldest_compatible_version 1.0.0
// mpm_version rf_core_400m_version_last_modified_time 0x20102617
